## .NET Core
bin/
obj/
out/
appsettings.Development.json
*.user
*.secrets
*.secret

## ASP.NET Core
wwwroot/
aspnetcore-https.csr

## NuGet Packages
packages/
*.nupkg

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Test Results
TestResults/
*.trx
*.coverage

## Misc
*.swp
*.swo
*~